<div class="home"><%= link_to "Home", "/", class: "hover home-inner" %></div>
<div class="foods">
  <h1>General shopping List</h1>
    <div class="shopping-list-paragraphs">
      <p>Amount of food items to buy: <strong><%= @needed_recipe_foods.count %></strong></p>
      <p>Total value of food needed: <strong>$<%= @needed_recipe_foods_price %></strong></p>
    </div>
  <table>
    <tr>
      <th><strong>Food</strong></th>
      <th><strong>Quantity</strong></th>
      <th><strong>Price</strong></th>
    </tr>
    <%  @needed_recipe_foods.each do |needed_recipe_food| %>
      <tr>
        <td><%= needed_recipe_food.food.name %></td>
        <td><%= "#{needed_recipe_food.quantity}  x '#{needed_recipe_food.food.measurement_unit}'" %></td>
        <td>$<%= needed_recipe_food.food.price*needed_recipe_food.quantity %></td>
      </tr>
    <%end%>
  </table>
</div>
