<div class="home"><%= link_to "Home", "/", class: "hover home-inner" %></div>
<h1>Recipes</h1>
<div>
  <% @recipes.each do |recipe| %>
    <div class="recipe-each">
      <div class="recipe-header">
        <h1><%= link_to recipe.name, recipe, class: "recipe"%></h1>      
        <%= button_to "Remove", recipe, method: :delete, class: "hover home-inner" %>
      </div>
      <div class="public-recipe-data">
        <p>Total food items: <span class="bold"><%= recipe.recipe_foods.length %></span></p>
        <p>Total price: $<span class="bold"><%= recipe.total_price %></span></p>
      </div>
    </div>
  <% end %>
</div>
<div class="addrecipe"><%= link_to "Add Recipe", new_recipe_path, class: "hover home-inner" %></div>