<div class="home"><%= link_to "Home", "/", class: "home-inner" %></div>
<div class="foods">
  <h2>Add Recipe</h2>
  <%= form_with model: @recipe, url: recipes_path , local: true do |f| %>

  <div>
    <div class="add-food-div">
      <%= f.label :name %> <br>
      <%= f.text_field :name %>
    </div>

    <div class="add-food-div">
      <%= f.label :preparation_time %> <br>
      <%= f.text_field :preparation_time %>
    </div>

    <div class="add-food-div">
      <%= f.label :cooking_time %> <br>
      <%= f.text_field :cooking_time %>
    </div>

    <div class="add-food-div">
      <%= f.label :public %> <br>
      <%= f.check_box :public %>
    </div>

    <div class="add-food-div">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "description-field" %>
    </div>
    <%= f.submit "Create", class: "hover home-inner" %> <br>
  </div>

  <% end %>
</div>
<div class="backto"><%= link_to "Back to Recipes", recipes_path, class: "hover home-inner" %></div>