<h1>New Food From Recipe</h1>

<%= form_for @food, url: create_from_recipe_foods_path do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :measurement_unit %>
    <%= f.text_field :measurement_unit %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="actions">
    <%= f.submit 'Create', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', new_recipe_path, class: 'btn btn-secondary' %>
  </div>
<% end %>